autopep8==2.3.2
blinker==1.9.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cssselect==1.2.0
EbookLib==0.18
Flask==3.1.0
Flask-Login==0.6.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
langid==1.1.6
lxml==5.3.1
lxml_html_clean==0.4.1
MarkupSafe==3.0.2
numpy==2.2.3
pycodestyle==2.12.1
python-dotenv==1.0.1
readability-lxml==0.8.1
requests==2.32.3
six==1.17.0
urllib3==2.3.0
Werkzeug==3.1.3
