<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Send-to-kindle is a wep application for sending a web article to your kindle."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <main>
    <h1>Send-to-kindle web app</h1>
    {% block main %}{% endblock %}
  </main>
</html>
